# Ignore everything except directories
*
!*/

##### BLACKLIST #####

Library
rspndr
secret

##### WHITELIST #####

# mackup
!.mackup/**/*
!.mackup.cfg

# bin
!bin/**/*

# git
!.git-templates
!.gitconfig
!.gitignore_global

# zsh / oh-my-zsh
!aliases.zsh
!functions.zsh
!path.zsh
!.zshrc

# dotfiles
!README.md
!Brewfile
!.macos

