# Ignore everything except directories
*
!*/

##### BLACKLIST #####

Library
rdp
secret
zsh/plugins/*
zsh/themes/*

##### WHITELIST #####

# mackup
!.mackup/**/*
!.mackup.cfg

# bin
!bin/**/*

# git
!.git-templates
!.gitconfig
!.gitignore_global
!.gitkeep

# zsh / oh-my-zsh
!aliases.zsh
!functions.zsh
!path.zsh
!.zshrc

# dotfiles
!README.md
!.macos
!Brewfile
!Brewfile-work
!Brewfile-vscode
